*.xcworkspacedata
*/IDEWorkspaceChecks.plist
*/UserInterfaceState.xcuserstate
*/xcschememanagement.plist
*/UserInterfaceState.xcuserstate
BeamSeas.xcodeproj/project.xcworkspace/xcuserdata/*
BeamSeas.xcodeproj/xcuserdata/scott.mehus.xcuserdatad/xcschemes/xcschememanagement.plist